body {
	font-family: 'Montserrat', sans-serif;
	margin: 0;

	background-color: #eee;
}

.container {
	padding: 0 5%;
}

h1 {
	font-weight: 100;
}


/* NAVBAR */

.navbar {
	padding: 0 5%;
	display: flex;
	align-items: center;
	justify-content: space-between;

	color: #eee;
	background-color: #111;
	line-height: 1;
}

.navbar .logo {
	font-weight: bold;
	font-size: 24px;
}

.navbar ul {
	display: flex;

	list-style: none;
}

.navbar ul li {
	padding: 0 12px;
}

.navbar ul li a {
	text-decoration: none;
	color: #bbb;
}

.navbar ul li a:hover {
	color: #fff;
	transition: 0.2s;
}


/* MAIN IMAGE */

.main {
	height: 500px;
	overflow: hidden;
	position: relative;
	background-color: #000;
}

.main img {
	width: 100%;
	position: absolute;
	top: -160px;
	opacity: 0.5;
}

.main .header-text {
	position: absolute;
	bottom: 222px;
	width: 100%;
	text-align: center;

	font-size: 64px;
	font-weight: bold;
	color: #fff;
}


/* GALLERY */

.gallery {
	margin: 36px 0;
	padding: -12px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.gallery .gallery-item {
	margin: 12px;

	background-color: #fff;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.gallery .gallery-item:hover {
	transition: 0.2s;
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3), 0 12px 28px 0 rgba(0, 0, 0, 0.2);
}

.gallery-item img {
	height: 200px;
}

.gallery-item .description {
	padding: 16px;
}

.gallery-item h1 {
	margin: 0 0 8px 0;
	font-size: 24px;
}

.gallery-item p {
	font-size: 12px;
	margin: 0;
}

